.card {
  border: 1px solid #ccc;
  padding: 12px;
  margin: 12px;
  width: 200px;
  text-align: center;
}

.card img {
  max-width:100%;
  height: 100px;
}

.cake-list {
  display: flex;
}

.cake-detail {
text-align: center;
}