.card {
  border: 1px solid #ccc;
  padding: 12px;
  margin: 12px;
  max-width: 200px;
  text-align: center;
}

.card img {
  max-width:100%;
  height: 100px;
}

.cake-list {
  display: flex;
}
.cake-list .card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cake-list .card img {
  width: 100%;
}
/* .cake-list img {display:inline-block} */

.cake-detail {
text-align: center;
}
.cake-detail img {display:inline-block}